<script>
      var waitForContainer = setInterval(function () {
        var filterWrapper = document.getElementsByClassName('boost-sd__filter-block')[0];
        console.log(11111111111, filterWrapper)
        if (filterWrapper) {
          function addWidgets() {
            window.ssw_widgets_products = [];
            var gridItems = filterWrapper.querySelectorAll('.boost-sd__product-item');
            console.log(2222222222, gridItems)
            gridItems.forEach(function (element) {
              var placeholder = element.querySelector('.gw-add-to-wishlist-product-card-placeholder');
              if (!placeholder) {
                var getUrl = element.querySelector('a.boost-sd__product-link').getAttribute('href');
              
                var sswFaveIcon = `<div class="ssw-faveicon-custom" data-product-id="${getUrl}"></div>`;
                window.ssw_widgets_products.push(getUrl);
                var imageLink = element.querySelector('.boost-sd__product-item-grid-view-layout-image');
                if (imageLink) {
                    imageLink.insertAdjacentHTML('beforebegin', sswFaveIcon);
                }
                
              }
            });

            function ssw_widgets(handles) {
              handles.forEach((handle) => {
                  function removeVariantParameter(handle) {
                      return handle.split('?')[0]; 
                  }
                  
                  var newHandle = removeVariantParameter(handle);

                var xhr = new XMLHttpRequest();
                xhr.open("GET", "https://candycatz.com/"+ newHandle + "?view=ssw-v2-layouts", true);
                xhr.onreadystatechange = function() {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                    var res = xhr.responseText;
                    var tmp = document.createElement('div');
                    tmp.innerHTML = res;
                    var placeholders = tmp.querySelectorAll('.gw-add-to-wishlist-product-card-placeholder');
                    placeholders.forEach(function(placeholder) {
                      
                      var faveIcon = document.querySelector(`.ssw-faveicon-custom[data-product-id="${handle}"]`);
                      if (faveIcon) {
                        faveIcon.outerHTML = placeholder.outerHTML;
                      }
                    });
                    
                    }
                  };
                xhr.send();
              });
              window.ssw_widgets_products = [];
            }
            ssw_widgets(window.ssw_widgets_products);
          }

          addWidgets()

          const observer = new MutationObserver(function (mutations) {
            for (let mutation of mutations) {
              if (mutation.type === 'childList') {
                addWidgets()
              }
            }

          })

          observer.observe(filterWrapper, { childList: true })
          observer.observe(document.querySelector('.boost-sd-filter-tree-column'), { childList: true })
  
          clearInterval(waitForContainer)
        }
      }, 2500);
  </script>