{% if customer %}
  {% if customer.email == "unufri@gmail.com" %}
    <p>Permissions granted!</p>



    
<p>Update SEO for Collections</p>
 <ul>
      {%- for collection in collections -%}
        {% assign meta_value = collection.metafields.custom.info %}
        {% if meta_value != blank %}
          <li>
            <a href="{{ collection.url }}">{{ collection.title }}</a> - {{ meta_value }}
          </li>
        {% endif %}
      {%- endfor -%}
    </ul>

    
    
  {% else %}
 <p>Permissions denied.</p>
  {% endif %}
{% else %}
  <p>Permissions denied.</p>
{% endif %}