{% if customer %}
  {% if customer.email == "unufri@gmail.com" %}
    <p>Permissions granted!</p>



    
<p>Update SEO for Collections</p>
{%- for collection in collections -%}

  
{%- endfor -%}

    
    
  {% else %}
 <p>Permissions denied.</p>
  {% endif %}
{% else %}
  <p>Permissions denied.</p>
{% endif %}