{% layout none %}

<div style="display: block;" class="gw-add-to-wishlist-product-card-placeholder"
    data-gw-product-id="{{ product.id }}"
    data-gw-variant-id="{{ product.first_available_variant.id }}"></div>
